@using ShouxinServer.Common
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render(@Model.CommonCssPath)
    @Styles.Render(@ViewBag.Css)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="topbar">
        <div class="grid-990 topbar-wrap fn-clear">
            @Html.Partial("_TopMenuPartial")
        </div>
    </div>
    <header class="header">
        <div class="grid-990 header-wrap fn-clear">
            <figure id="alipay-img-logo" class="fn-left">
                @Html.ActionLink("LOGO", "Index", "Home")
            </figure>
            <nav id="J-nav" role="navigation">
                <ul class="nav">
                    <li class="nav-item">@Html.ActionLink("首页", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-item-link custom-nav-item" })</li>
                    <li class="nav-item">@Html.ActionLink("关于", "Index", "About", routeValues: null, htmlAttributes: new { @class = "nav-item-link  custom-nav-item" })</li>
                    <li class="nav-item">@Html.ActionLink("联系我们", "Index", "Contact", routeValues: null, htmlAttributes: new { @class = "nav-item-link  custom-nav-item" })</li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderSection("featured", required: false)
    <section class="main">
        @RenderBody()
    </section>
    <footer class="footer">
        <div class="footer-line">
            <div class="grid-990 cnt"></div>
        </div>
        <div class="grid-990 sitelink fn-clear">
            <p>&copy; @DateTime.Now.Year - Shouxin Server</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
