@model ShouxinServer.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "注册";
}
<div class="grid-990 product fn-clear">
    <div class="ui-form ui-form-l ui-form-general">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                <legend>注册</legend>
                <div class="ui-form-item">
                    @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "ui-label" })
                    @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "ui-input" })
                </div>
                <div class="ui-form-item">
                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "ui-label" })
                    @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "ui-input" })
                </div>
                <div class="ui-form-item">
                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "ui-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "ui-input" })
                </div>
                <div class="ui-form-item">
                    <div class="ui-button ui-button-lorange">
                        <input type="submit" value="注册" class="ui-button-text" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
